<div class="container-lg">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">FAQs</h1>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link text-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-chevron-circle-down text-primary"></i> How much is a rental car?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            The cost of a rental car depends on many factors and can vary greatly. These factors include: the length of time you are renting the car, car class selected, rental location, insurance products, additional products selected. For the most accurate pricing, start a reservation below.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed text-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-chevron-circle-down text-primary"></i> What is your pet policy?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">Pets are allowed in rental vehicles. Customers need to keep pets crated and return their rental car in clean condition and free of pet hair to avoid cleaning/detailing fees. Service animals used by customers with disabilities are allowed in the vehicle without a carrier.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed text-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-chevron-circle-down text-primary"></i> What is car rental insurance?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">Car rental insurance is a protection plan that safeguards you and the vehicle in the event of a collision, theft, and more. Enterprise also offers roadside assistance to help with incidents such as lockouts or lost keys. </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed text-primary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-chevron-circle-down text-primary"></i> Can I pay for the rental of a car for another individual?
                            </a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">The renter of the vehicle must be present to sign the rental agreement and provide their credit card at the time of pick up. The renter cannot provide a credit or debit card belonging to someone else for their use.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>